[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
trio = "*"
triogram = "==0.3.0"
beautifulsoup4 = "*"
lxml = "*"
more-itertools = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-trio = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
